@font-face {
  font-family: 'icomoon';
  src: url('/dist/fonts/icomoon.eot?-qjks8f');
  src: url('/dist/fonts/icomoon.eot?#iefix-qjks8f') format('embedded-opentype'), url('/dist/fonts/icomoon.woff?-qjks8f') format('woff'), url('/dist/fonts/icomoon.ttf?-qjks8f') format('truetype'), url('/dist/fonts/icomoon.svg?-qjks8f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bag:before {
  content: "\e600";
}
.icon-community:before {
  content: "\e601";
}
.icon-home:before {
  content: "\e602";
}
.icon-Dict:before {
  content: "\e603";
}
.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333333333em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon-cn {
  background-image: url(../img/flags/4x3/cn.svg);
}
.flag-icon-cn.flag-icon-squared {
  background-image: url(../img/flags/1x1/cn.svg);
}
.flag-icon-de {
  background-image: url(../img/flags/4x3/de.svg);
}
.flag-icon-de.flag-icon-squared {
  background-image: url(../img/flags/1x1/de.svg);
}
.flag-icon-fr {
  background-image: url(../img/flags/4x3/fr.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(../img/flags/1x1/fr.svg);
}
.flag-icon-jp {
  background-image: url(../img/flags/4x3/jp.svg);
}
.flag-icon-jp.flag-icon-squared {
  background-image: url(../img/flags/1x1/jp.svg);
}
.flag-icon-kr {
  background-image: url(../img/flags/4x3/kr.svg);
}
.flag-icon-kr.flag-icon-squared {
  background-image: url(../img/flags/1x1/kr.svg);
}
.flag-icon-us {
  background-image: url(../img/flags/4x3/us.svg);
}
.flag-icon-us.flag-icon-squared {
  background-image: url(../img/flags/1x1/us.svg);
}
body.has-cloud {
  /*To hide the horizontal scroller appearing during the animation*/
  overflow: hidden;
}
#clouds {
  padding: 100px 0;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #ffffff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #ffffff 100%);
}
/*Time to finalise the cloud shape*/
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}
.cloud:before,
.cloud:after {
  content: '';
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}
/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}
/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 201px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  /*opacity: 0.6; opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}
.x3 {
  left: -250px;
  top: -200px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  /*opacity: 0.8; opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}
.x4 {
  left: 470px;
  top: -250px;
  /*
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);*/
  /*opacity: 0.75; opacity proportional to the size*/
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}
.x5 {
  left: -150px;
  top: -150px;
  /**/
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  /*opacity: 0.8; opacity proportionaßl to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}
.timeline-centered:after {
  clear: both;
}
.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}
.timeline-centered:after {
  clear: both;
}
.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f5f5f6;
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}
.timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 70px;
  clear: both;
}
.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry:after {
  clear: both;
}
.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry:after {
  clear: both;
}
.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
  float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f5f5f6;
  -webkit-box-shadow: 0 0 0 5px #f5f5f6;
  box-shadow: 0 0 0 5px #f5f5f6;
  line-height: 40px;
  font-size: 15px;
  float: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #303641;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #ee4749;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: #00a651;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #21a9e1;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #fad839;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f5f5f6;
  padding: 1.7em;
  margin-left: 70px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f5f5f6 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #737881;
  font-family: Arial;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #303641;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
.cuadro_intro_hover {
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 200px;
}
.cuadro_intro_hover:hover .caption {
  opacity: 1;
}
.cuadro_intro_hover img {
  z-index: 4;
}
.cuadro_intro_hover .caption {
  position: absolute;
  top: 150px;
  width: 100%;
}
.cuadro_intro_hover .blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.cuadro_intro_hover .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top: -20px;
  width: 100%;
}
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/* stick footer mode */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -37px;
}
#main.container {
  padding-bottom: 150px;
}
#push,
#footer {
  height: 37px;
}
#footer {
  background: #5bacc7;
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
#footer p {
  color: #fff;
  font-size: 12px;
  padding-top: 10px;
}
#footer .cloudWrap {
  width: 270px;
  height: 90px;
  position: absolute;
  top: -65px;
  left: 50px;
  overflow: hidden;
}
#footer .cloud {
  position: absolute;
  top: 0px;
  left: 75px;
  background: #5bacc7;
  width: 90px;
  height: 90px;
}
#footer .cloud:before,
#footer .cloud:after {
  width: 90px;
  height: 90px;
  background: #5bacc7;
  top: 20px;
}
#footer .cloud:after {
  left: -70px;
}
#footer .cloud:before {
  left: 70px;
}
.navbar-header {
  background: transparent url('../img/bg-brand.png') no-repeat scroll left top;
  width: 174px;
  height: 174px;
  position: absolute;
  z-index: 1;
  top: 75px;
}
.navbar-header .navbar-brand {
  margin-top: 80px;
  margin-left: 22px!important;
  width: 123px;
  height: 86px;
  display: block;
  background: transparent url('../img/brand-md.png') no-repeat scroll left top;
}
.primaryNav {
  margin-bottom: 160px;
  border: none;
  height: 128px;
}
.primaryNav:before {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  background: transparent url('../img/bg-mkt.png') repeat-x scroll left top;
  height: 128px;
  position: absolute;
  z-index: 2;
}
.primaryNav .navbar-nav {
  margin: 127px 114px 0 0;
}
.primaryNav .navbar-nav > li + li {
  background-color: #74c82c;
}
.primaryNav .navbar-nav > li + li + li {
  background-color: #ff77ac;
}
.primaryNav .navbar-nav > li {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #e0d0af;
  margin: 10px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 1px 0px #ffffff;
  -webkit-transition: margin-top 1s;
  -o-transition: margin-top 1s;
  transition: margin-top 1s;
}
.primaryNav .navbar-nav > li:hover {
  margin-top: 30px;
}
.primaryNav .navbar-nav > li:before {
  content: " ";
  display: block;
  border-left: 1px solid #fff;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 85%;
  top: auto;
}
.primaryNav .navbar-nav > li > a {
  padding: 0px;
  line-height: 70px;
  color: #fff;
  font-size: 33px;
}
.primaryNav .navbar-nav > li > a.icon-bag {
  font-size: 43px;
}
.primaryNav .navbar-nav > li > a.icon-community {
  font-size: 43px;
}
.primaryNav .navbar-nav > li > a span {
  display: none;
}
.primaryNav .navbar-nav > li > a:hover {
  background: transparent;
}
.secondaryNav li {
  background: #fff;
  padding: 0px;
}
.secondaryNav li.active a,
.secondaryNav li:hover a {
  color: #47a6ea;
  background: transparent;
}
.secondaryNav li.active a:after,
.secondaryNav li:hover a:after {
  content: " ";
  display: block;
  width: 10px;
  height: 100%;
  background: #47a6ea;
  position: absolute;
  right: 0px;
  top: 0px;
  border-bottom: 13px solid #fff;
  border-top: 13px solid #fff;
}
.secondaryNav li.active a:focus,
.secondaryNav li:hover a:focus,
.secondaryNav li.active a:hover,
.secondaryNav li:hover a:hover {
  color: #47a6ea;
  background-color: transparent!important;
}
.secondaryNav li a {
  padding: 30px 30px;
  color: #8eb2b3;
  background: transparent;
}
.secondaryNav .label {
  color: #777777;
  display: block;
  background-color: transparent;
}
/* search */
#search {
  padding-bottom: 64px;
}
#search .glyphicon-search {
  position: absolute;
  z-index: 3;
  left: 12px;
  top: 9px;
  color: #69bacd;
}
#search .form-control {
  padding-left: 35px;
  border-radius: 5px;
  border: none;
  background: #f1f1f1;
  color: #00adee;
}
#search .input-group-btn {
  left: -5px;
  z-index: 2;
}
#search button {
  border: none;
  background: #f55734;
  color: #FFF;
  text-shadow: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #f55734;
}
#rPnl {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: auto;
  right: -80px;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
  background: #d29f43;
  color: #fff;
  padding: 40px 10px;
  width: 120px;
  height: 100%;
  list-style: none;
}
#rPnl:after {
  content: " ";
  display: block;
  width: 12px;
  height: 100%;
  background: transparent url('../img/wave.png') repeat-y scroll left top;
  position: absolute;
  left: -12px;
  top: 0px;
}
#rPnl:hover {
  right: 0px;
}
#rPnl li {
  padding: 10px 5px;
}
#rPnl li .glyphicon {
  padding-right: 10px;
}
#rPnl li a {
  color: #fff;
}
#rPnl li a b {
  font-size: 12px;
}
#rPnl li a:hover {
  color: #5E3E32;
}
#userPnl {
  width: 230px;
  height: 230px;
  border-radius: 230px;
  background: #d4cdc3;
  margin-top: 0px;
  margin-right: 0px;
  position: absolute;
  right: 8px;
  top: -35px;
  z-index: 2;
}
#userPnl:after {
  content: " ";
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  top: 15px;
  left: -30px;
}
#userPnl .inner {
  width: 230px;
  height: 230px;
  border-radius: 230px;
  background: #fff;
  margin: -4px 0 0 -8px;
  padding: 90px 0 0 53px;
}
#userPnl .dropdown {
  margin-left: 20px;
}
#userPnl .dropdown-menu {
  min-width: 104px;
}
#userPnl .cirle {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 5px;
  background: #14fa14;
}
#userPnl .caret {
  border-top-color: #c5c5c5;
  margin-left: 2px;
  margin-top: 2px;
}
#userPnl .avater {
  width: 83px;
  height: 83px;
  font-size: 80px;
  margin-left: 25px;
  border-radius: 12px;
  border: 3px solid #5bacc7;
  overflow: hidden;
  color: #5bacc7;
}
#userPnl b {
  padding: 0px 0px 0px 6px;
  line-height: 2em;
  font-size: 12px;
}
#userPnl .status .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
}
#userPnl .status .btn {
  background: none;
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}
.app-list .thumbnail {
  padding: 2px;
  height: 163px;
  background: transparent;
  border: none;
  box-shadow: none;
}
.app-list .thumbnail .caption {
  padding: 12px 0px 0px 0px;
  position: relative;
  color: #fff;
}
.app-list .thumbnail .caption .btn {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -16px;
  border: 2px solid #69bacd;
  background-image: none;
  padding: 0px;
  box-shadow: none;
  font-size: 2em;
  border-radius: 50%;
  line-height: 1em;
}
.app-list .thumbnail .caption .btn .glyphicon {
  text-shadow: none;
}
.app-list .thumbnail .caption .btn .glyphicon-play {
  font-size: 18px;
  padding-left: 2px;
  top: -1px;
}
.app-list .thumbnail .caption .btn-default {
  color: #3a353c;
  background-color: #69bacd;
}
.app-list .thumbnail .caption p {
  padding: 0px;
  margin: 0px;
}
/* clean mode */
.has-cloud #footer {
  display: none;
}
.has-cloud a,
.has-cloud label {
  font-size: 11px;
}
.has-cloud .alert {
  position: absolute;
  left: 17px;
  top: 30px;
}
.has-cloud #clouds {
  background: #d4eef9 url('../img/bg-cloud.png') repeat-x scroll center bottom;
  height: 100%;
}
.has-cloud #clouds .cloud {
  width: 299px;
  height: 187px;
  margin-bottom: -120px;
  border-radius: 0px;
  background: transparent url("../img/cloud.png") no-repeat scroll left top;
}
.has-cloud #clouds .cloud:after,
.has-cloud #clouds .cloud:before {
  content: " ";
  display: none;
}
.has-cloud .login {
  display: block;
  box-shadow: none;
  border: none;
  background: transparent;
}
.has-cloud .brand {
  width: 167px;
  height: 110px;
  margin: 127px 0 0 88px;
  background: transparent url('../img/brand-lg.png') no-repeat scroll left top;
}
.has-cloud .book {
  width: 665px;
  height: 455px;
  margin-top: -50px;
  background: transparent url('../img/book.png') no-repeat scroll left top;
  background-size: cover;
}
.has-cloud .panel-body {
  padding: 115px 35px 35px 25px;
}
.has-cloud .btn-primary {
  border-radius: 15px;
  padding: 4px 20px;
}
/* layout background */
body.mkt {
  background: #69bacd;
}
body.usrLanding {
  background: #6dabc6 url('../img/bg-image-customize.png') no-repeat fixed center bottom;
  background-size: cover;
}
body.usrLanding .primaryNav {
  margin-bottom: 130px;
}
body.usrLanding .primaryNav:before {
  height: 142px;
  background-image: url('../img/bg-cloud-repeat.png');
}
body.usrLanding .navbar-header {
  z-index: 2;
  margin-top: 0px;
  width: 223px;
  height: 150px;
  top: 0px;
  background-image: url('../img/bg-brand-cloud.png');
}
body.usrLanding .navbar-header a {
  margin-top: 27px;
  margin-left: 47px !important;
}
/* timeline */
.timeline-centered:before {
  top: 20px;
  bottom: 0px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  background: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  border-color: transparent #fff transparent transparent;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #ee5637;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  width: 10px;
  height: 10px;
  margin-left: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 0 2px #6dabc6, 0 0 0 4px #ffffff;
  box-shadow: 0 0 0 2px #6dabc6, 0 0 0 4px #ffffff;
}
/* announcement */
#announcement {
  position: relative;
  padding-bottom: 35px;
}
#announcement .item {
  width: 175px;
  height: 175px;
  background: #fff;
  padding: 23px 20px;
  margin: 15px;
  color: #FFF;
  -webkit-box-shadow: 3px 4px 0px 0px #cbcbcb;
  box-shadow: 3px 4px 0px 0px #cbcbcb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border-radius: 50%;
}
#announcement .item p {
  color: #000;
  font-size: 11px;
}
#announcement .item p.date {
  padding: 0px 15px;
  color: #5bacc6;
  margin: 0px;
  font-size: 11px;
}
#announcement .item .link {
  padding: 0px 15px;
}
#announcement .item h3 {
  padding: 0px 15px;
  color: #ee5637;
  margin: 0px 0px 10px 0px;
  font-family: "simHei";
}
#announcement .owl-item:nth-child(2n+1) {
  position: relative;
  margin-top: 70px;
}
#announcement .owl-item:nth-child(2n+1):after {
  content: " ";
  display: block;
  width: 56px;
  height: 4px;
  background: #fff;
  position: absolute;
  right: -24px;
  top: 70px;
  -webkit-transform: rotate(153deg);
  -ms-transform: rotate(153deg);
  -o-transform: rotate(153deg);
  transform: rotate(153deg);
}
#announcement .owl-item:nth-child(4n+2) {
  position: relative;
}
#announcement .owl-item:nth-child(4n+2):after {
  content: " ";
  display: block;
  width: 56px;
  height: 4px;
  background: #fff;
  position: absolute;
  right: -22px;
  top: 150px;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
#announcement .owl-buttons {
  position: absolute;
  right: 0px;
  top: 190px;
  width: 30px;
}
#announcement .owl-prev,
#announcement .owl-next {
  float: left;
  background: transparent url('../img/arrow.png') no-repeat scroll left top;
  text-indent: -9999px;
  overflow: hidden;
  width: 12px;
  height: 18px;
}
#announcement .owl-next {
  float: right;
  background-position: right top;
}
/* ballon */
.ballon {
  width: 182px;
  height: 239px;
  background: transparent url('../img/ballon.png') no-repeat scroll left top;
}
/* apps list II */
.apps {
  margin-bottom: 30px;
}
.apps:first-child .col-lg-3 {
  position: relative;
}
.apps:first-child .col-lg-3:after {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background: transparent url('../img/circle-padding.png') no-repeat scroll left top;
  position: absolute;
  right: -78px;
  bottom: -95px;
  z-index: 0;
}
.apps:first-child .col-lg-3:last-child:after {
  display: none;
}
.apps .cuadro_intro_hover {
  height: 50%;
  margin: -15px;
  border: 15px solid #fff;
  border-radius: 50%;
  background: #fff;
  z-index: 9;
}
.apps .cuadro_intro_hover img {
  width: 100%;
  height: 100%;
}
.apps .cuadro_intro_hover p {
  margin-bottom: 0px;
}
.apps .cuadro_intro_hover:hover .caption {
  -webkit-transform: translate(0, -60px);
  -ms-transform: translate(0, -60px);
  -o-transform: translate(0, -60px);
  transform: translate(0, -60px);
}
.apps .cuadro_intro_hover .blur {
  background: #ffffff;
}
.apps .cuadro_intro_hover .caption-text {
  color: #ee5637;
  top: 0px;
}
.apps .cuadro_intro_hover .caption {
  top: 100%;
}
/* community */
.community {
  padding-top: 30px;
}
.community .col-lg-4 {
  padding-bottom: 25px;
}
.community h4 {
  padding-left: 10px;
  padding-right: 10px;
}
.community .cuadro_intro_hover {
  height: 50%;
  border-radius: 5px;
}
.community .cuadro_intro_hover img {
  width: 165px;
  height: 165px;
}
.community .cuadro_intro_hover p {
  margin-bottom: 0px;
}
.community .cuadro_intro_hover:hover .caption {
  -webkit-transform: translate(0, -60px);
  -ms-transform: translate(0, -60px);
  -o-transform: translate(0, -60px);
  transform: translate(0, -60px);
}
.community .cuadro_intro_hover .blur {
  background: #ffffff;
}
.community .cuadro_intro_hover .caption-text {
  color: #ee5637;
  top: 0px;
}
.community .cuadro_intro_hover .caption {
  top: 100%;
}
/*lang*/
.langSwitch.dropdown:hover .dropdown-menu {
  display: block;
}
.langSwitch.dropdown:hover .dropdown-menu li a:hover {
  background: #efefef;
}
.langSwitch {
  width: 66px;
  margin-left: -5px;
}
.langSwitch .dropdown-menu {
  min-width: 60px;
  right: 13px;
  text-align: center;
  margin-top: 0px;
}
.langSwitch .flag-icon-squared {
  line-height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}
.langSwitch #lang {
  background-image: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
}
.langSwitch #lang .caret {
  margin-left: 1em;
}
/*pswRecovery*/
@media (max-width: 768px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=cisco.css.map */